.right-column {
    display: flex;
    flex-direction: column;
    .categories,
    .extensions {
        border-radius: 5px;
        background: rgba(0,0,0,0.1);
        position: relative;
    }
    .categories {
        flex: 5;
        margin-bottom: 15px;
    }
    .extensions {
        flex: 3;
        div.input-container {
            width: 100%;
        }
        div.extensions-input {
            display: inline-block;
            position: absolute;
            height: 30px;
            width: 90px;
            margin-left: 5px;
            background-color: unset;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            height: 30px;
            width: 130px;
            outline: none;
            border-radius: 5px 5px 5px 5px;
            box-sizing: border-box;
            cursor: pointer;
            .value {
                height: 100%;
                width: 100%;
                position: absolute;
                padding: 7px;
                padding-left: 30px;
                box-sizing: border-box;
                pointer-events: none;
            }
            .options {
                top: 100%;
                width: 100%;
                position: absolute;
                background: rgb(73, 73, 73);
                z-index: 1;
                border-radius: 0 0 5px 5px;
                height: 0px;
                overflow: hidden;
                transition: all 0.2s;
                max-height: 0px;
                span {
                    display: block;
                    padding: 10px;
                    padding-left: 15px;
                }
            }
        }
        .dropdown:focus {
            .options {
                max-height: 110px;
                height: auto;
            }
        }
    }

    div.category-input:focus,
    div.extensions-input,
    div.dropdown {
        border-radius: 3px;
        border: 1px solid #535353;
        width: 130px;
        height: 30px;
        background: unset;
        cursor: text;
    }

    .category-list,
    .extension-list {
        height: calc(100% - 55px);
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: scroll;
        .category-list-item,
        .extension-list-item {
            transition: background-color 0.2s;
            height: 40px;
            padding-left: 18px;
            padding-right: 18px;
            width: fit-content;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            &.active {
                background: rgba(255,255,255, 0.25);
            }
            span {
                position: absolute;
                top: 12px;
                left: 55px;
                pointer-events: none;
            }
            i {
                position: absolute;
                top: 7px;
            }
        }

        .category-list-item {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 5px;
        }

        .extension-list-item {
            border: 1px solid $secondary-background-highlight;
            height: 30px;
            padding: 8px;
            min-width: 60px;
            i {
                top: -4px;
                right: -4px;
                font-size: 20px;
            }
        }
    }

    .inactive-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        background: rgba(0,0,0,0.3);
        opacity: 1;
        transition: all 0.2s;
        color: $secondary-background-highlight;
        padding: 30px;
        padding-top: 100px;
        box-sizing: border-box;
    }
    .inactive-overlay.hiden {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
}