.right-column {
  display: flex;
  flex-direction: column;
  .active-folder {
    width: 100%;
    height: 50px;
    // background: var(--foreground-color);
    box-sizing: border-box;
    padding: 10px;
    i {
      font-size: 24px;
      vertical-align: middle;
      margin: 5px;
    }
    &.disabled {
      opacity: 0;
    }
    .active-folder-path,
    .active-folder-files-count {
      margin-top: 10px;
      display: inline;
    }
    .active-folder-path {
      float: left;
    }
    .active-folder-files-count {
      float: right;
    }
  }
  .categories,
  .rules {
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--neumorph-shadow);
    position: relative;
    .sortable-ghost {
      opacity: 0.8 !important;
    }
  }
  .categories {
    flex: 5;
    margin-bottom: 15px;
    user-select: none;
  }
  .rules {
    flex: 4;
    div > .rule-input {
      display: inline-block;
      position: absolute;
      height: 30px;
      width: 90px;
      margin-left: 5px;
      background-color: unset;
    }
    .dropdown {
      position: relative;
      height: 30px;
      width: 120px;
      outline: none;
      border-radius: 5px;
      box-sizing: border-box;
      float: left;
      cursor: pointer;
      i.material-icons {
        left: unset;
        color: var(--icon-color);
        position: absolute;
        right: 0;
        transform: translateY(-50%);
        top: 50%;
      }
      .value {
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
      smart-hover.options > div.smart-hover-shadow {
        border-left: 4px solid var(--text-color);
        border-radius: 0px;
      }
      .options {
        top: 100%;
        width: 100%;
        position: absolute;
        background: var(--background-color);
        z-index: 1;
        border-radius: 0 0 5px 5px;
        height: 0px;
        overflow: hidden;
        transition: all 0.2s;
        max-height: 0px;
        z-index: 3;
        left: 0;
        top: calc(100% + 5px);
        span {
          display: block;
          padding: 10px;
          padding-left: 15px;
          text-align: left;
        }
      }
    }
    .dropdown:focus {
      .options {
        max-height: 110px;
        height: auto;
      }
    }
  }

  div.category-input:focus,
  div.rule-input,
  div.dropdown {
    border-radius: 3px;
    border: 1px solid #535353;
    width: 130px;
    height: 34px;
    background: unset;
    cursor: text;
  }
  smart-hover.category-list {
    height: calc(100% - 100px);
  }
  .category-list,
  .rule-list {
    height: calc(100% - 45px);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    .category-list-item,
    .rule-list-item {
      transition: background-color 0.2s;
      height: auto;
      padding: 3px 18px;
      padding-bottom: 12px;
      box-sizing: border-box;
      display: inline-block;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      &.active {
        background: var(--highlight);
      }
      span.text {
        position: absolute;
        top: 12px;
        left: 55px;
      }
      i {
        position: absolute;
        top: 7px;
      }
    }

    .category-list-item {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }

    .rule-list-item {
      border: 1px solid #868686;
      padding: 8px;
      height: auto;
      overflow-wrap: normal;
      i {
        top: -4px;
        right: -4px;
        font-size: 20px;
      }
    }
  }

  .category-files {
    padding-top: 46px;
    div {
      margin-bottom: 6px;
    }
  }

  .rule-list {
    height: calc(100% - 40px);
    & > .input-container {
      transition: all 120ms ease-in-out;
      bottom: 0;
      left: 0;
      div {
        opacity: 1;
      }
    }
  }

  .inactive-overlay {
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: var(--background-color);
    opacity: 1;
    transition: all 0.2s;
    color: var(--highlight);
    padding: 30px;
    padding-top: 100px;
    box-sizing: border-box;
  }
  .inactive-overlay.hiden {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
