.right-column {
    display: flex;
    flex-direction: column;
    .categories,
    .extensions {
        border-radius: 5px;
        border: 1px solid $secondary-background;
        position: relative;
    }
    .categories {
        flex: 1;
        margin-bottom: 15px;
    }
    .extensions {
        flex: 1;
    }
    
    .category-input,
    .extensions-input {
        outline-color: unset;
        outline: unset;
        height: 30px;
        width: 30px;
        display: inline-block;
        margin: 13px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 5px;
        top: 0px;
        position: absolute;
        background: $secondary;
        cursor: pointer;
        transition: all 0.2s;
        border: 1px solid $secondary;
        i {
            display: block;
            pointer-events: none;
            font-size: 19px;
        }
    }
    .category-input:hover,
    .extensions-input:hover,
    .category-input:focus,
    .extensions-input:focus {
        border-radius: 5px;
        i {
            transform: rotate(90deg);
        }
    }

    .category-input:focus,
    .extensions-input:focus {
        border: 1px solid #535353;
        width: 130px;
        background: unset;
        i {
            display: none;
        }
    }
}