$primary-background: rgb(37, 37, 37);
$secondary-background: rgb(83, 83, 83);
$secondary-background-highlight: rgb(112, 112, 112);
$text: rgb(214, 214, 214);
$primary: rgb(68, 165, 128);
$secondary: rgb(77, 126, 199);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import '../../node_modules/material-icons-font/material-icons-font.css';

@import 'left-column.scss';
@import 'right-column.scss';

div#electron-titlebar {
    height: 29px;
    div {
        height: 29px;
    }
    background-color: $secondary-background;
    transition: all 0.2s;    
}

#electron-titlebar > .button-close.hover {
    background-color:  rgb(255, 88, 88) !important;
    border-radius: 4px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: $primary-background;
    color: $text;
    margin: 0;
}

.main-content {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    div.left-column,
    div.right-column {
        flex: 1;
        position: relative;
    }
    .column .column-title {
        width: 100%;
        text-align: center;
    }
}

// This selector applies to the main content height and position, taking into account
// that its brother exists in the DOM, the DOM only has this div before the main content
// When its opened in windows, the MacOS uses its own frame
div[style="position: relative;"] + .main-content {
    height: calc(100% - 29px);
    top: 29px;
}

.footer {
    color: rgb(83, 83, 83);
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 11px;
}