body.light-theme {
    --background-color: rgb(241,241,241);
    --foreground-color: rgb(249, 249, 249);
    --highlight: rgba(0, 0, 0, 0.1);
    --text-color: rgb(21,21,21);
    --icon-color: rgb(90,90,90);
    --primary: rgb(34 177 191);
    --primary-icon-color: rgb(244, 244, 244);
}

body.dark-theme {
    --background-color: rgb(37, 37, 37);
    --foreground-color: rgb(50, 50, 50);
    --highlight: rgba(240,240,240, 0.2);
    --text-color: rgb(214, 214, 214);
    --icon-color: rgb(120,120,120);
    --primary: rgb(45, 136, 197);
    --primary-icon-color: rgb(244, 244, 244);
}