.left-column {
  box-sizing: border-box;
  margin-right: 15px;
  padding-left: 4px;
  .folder-list {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    height: calc(100% - 50px);
    overflow-y: scroll;
    top: 50px;
    display: block;
    padding-top: 15px;
    .folder-list-item {
      transition: background-color 0.1s;
      height: 36px;
      padding: 10px;
      padding-left: 15px;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 0 5px;
      animation-name: slideIn;
      animation-duration: 200ms;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      opacity: 0;
      cursor: pointer;
      .value-holder {
        width: auto;
        position: absolute;
        pointer-events: none;
      }
      i {
        position: relative;
        top: -3px;
        float: right;
        margin-left: 15px;
        &:hover {
          transform: scale(1.1);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
    .folder-list-item.active {
      background: var(--highlight);
    }
  }

  .folder-options {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin: 5px;
    box-sizing: border-box;
    .option-button {
      box-sizing: border-box;
      margin-right: 15px;
      padding: 10px;
      width: auto;
      height: 35px;
      background: $secondary;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s;
      float: right;
    }
    .option-button:hover {
      transform: scale(1.1);
      border-radius: 10px;
    }
  }
}

.left-column.drag-hover {
  outline: 2px dotted var(--text-color);
  transform: scale(1.01);
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 120ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-8px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
