.left-column {
    box-sizing: border-box;
    margin-right: 15px;
    .folder-selector {
        width: 100%;
        height: 30px;
        display: inline-block;
        position: relative;

        .add-folder,
        .folder-path,
        .submit-folder {
            height: 30px;
            display: inline-block;
            border: 1px solid $secondary-background;
            position: absolute;
            top: 0;
            box-sizing: border-box;
        }

        .add-folder,
        .submit-folder {
            box-sizing: border-box;
            width: 30px;
            transition: all 0.2s;
            cursor: pointer;
            padding: 4px;
            i {
                font-size: 20px;
            }
        }
        .add-folder {
            border-radius: 5px 0px 0px 5px;
            left: 0;
            &:hover{
                background: $secondary;
            }
        }
        .submit-folder {
            border-radius: 0px 5px 5px 0px;
            right: 0;
            &:hover {
                background: $primary
            }
        }


        .add-folder:hover,
        .submit-folder:hover,
        .add-folder:hover+div+.folder-path,
        .submit-folder:hover+.folder-path {
            border-radius: 5px;
        }

        .folder-path {
            // 29px so it overlaps by 1px with the add-folder button border
            width: calc(100% - 58px);
            right: 29px;
            outline-color: unset;
            outline: unset;
            border-radius: 0;
            overflow: hidden;
            padding: 5px;
        }
    }

    .folder-list {
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        max-height: calc(100% - 100px);
        overflow: auto;
        height: auto;
        top: 100px;
        display: block;
        .folder-list-item {
            transition: background-color 0.1s;
            height: 36px;
            padding: 9px;
            padding-left: 15px;
            box-sizing: border-box;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }
        .folder-list-item.active {
            background: rgba(255,255,255,0.1);    
        }
    }
}