.left-column {
    box-sizing: border-box;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #424242;

    .folder-list {
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        height: calc(100% - 50px);
        overflow-y: auto;
        top: 50px;
        display: block;
        .folder-list-item {
            transition: background-color 0.1s;
            height: 36px;
            padding: 9px;
            padding-left: 15px;
            box-sizing: border-box;
            border-radius: 5px;
            margin: 10px;
            cursor: pointer;
        }
        .folder-list-item.active {
            background: rgba(255,255,255,0.25);    
        }
    }
}